.container8 {
    width: 100%;
    height: 591px;
    align-items: center;
    text-align: center;
    font-family: $font1;
    margin-inline: auto;
    position: relative;
}

.customers .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 550px;
}

.customers .container .up h2{
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 100;
    font: normal normal 600 36px/43px $font1;
}

.customers .container .up hr{
    width: 64px;
    height: 2px;
    background-color: $blue;
    outline: none;
    border: none;
    margin: 0 auto 30px;
    margin-bottom: 60px;
}

.customers .container .down{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customers .container .down .comments .con{
    height: 147px;
    width: 273px;
    background-color: #6696E2;
    margin: 0 50px 0 0;
    position: relative;
    color: white;
    line-height: 1.3;
    font: normal normal normal 16px/22px $font1;
    border-radius: 8px;
    padding: 10px 6px 10px 6px;
}

.customers .container .down .comments .con .arr{
    height: 20px;
    width: 20px;
    background-color: #6696E2;
    position: absolute;
    top: 135px;
    left: 36px;
    transform: rotate(47deg);
}

.customers .container .down .comments .info img{
    height: 100px;
    width: 100px;
    margin-top: 25px;
    border-radius: 50%;
    margin-right: 20px;
}

.customers .container .down .comments .info {
    display: flex;
    align-items: center;
}

.customers .container .down .comments .info .sub h4{
    font-weight: 800;
    font-size: 20px;
}

.customers .container .down .comments .info .sub span{
    color: #86878B;
    font-size: 14px;
}




.swiper {
    max-width: 1000px;
    height: 300px;
  }


.swiper-container {
    display: block;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: $pink;
    border: 1px solid #E27866;
    transition: 0.3s;
}



// @media (min-width: 768px) and (max-width: 991px){ /*  For smal screen rules  */
//     .testimonials .container .down {flex-direction: column; padding-top: 40px;}
//     .testimonials{ height: 1100px;}
//     .testimonials .container{justify-content: flex-start;  padding: 40px;}
// }
// @media (max-width: 767px){ /*  For mobile &  tablet rules  */
//     .testimonials{width:100%;}
//     .testimonials .container .down {flex-direction: column; padding-top: 40px;}
//     .testimonials{ height: 1200px;}
//     .testimonials .container{justify-content: flex-start;  padding: 40px;}
//     .testimonials .container .down .comments{margin: 10px 0;}
//     .testimonials .container .down .comments .con .arr{display: none;}
// }
// @media (max-width: 334px){
//     .testimonials .container .down .comments .con{max-width: auto !important; max-height: auto !important;}
// }
// /*-------End of Testimonials-----*/