* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topnav {
      width: 100%;
      margin: auto;
  }
    
  header {
    position: fixed;
    width: 100%;
    background: black;
    transition: 0.7s all;
    z-index: 100;
    line-height: 1.5;
    font-family: $font1;
  }

.logo1 {
  width: 490px;
  height: 52px;
  display: flex;
  margin: 5px;
  cursor: pointer;
}

nav {
  position: fixed;
  display: flex;
  width: 100%;
  height: 72px;
  background: black;
  transition: 0.7s all;
  z-index: 100;
}

.link-nav {
  margin: auto;
  display: flex;
  gap: 20px;
}

html {
     scroll-behavior: smooth;
}

nav a {
  position: relative;
  text-decoration: none;
  color: white;
  font: normal normal normal 14px/17px Montserrat;
  transition: 0.3s;
}

 nav a {
    font-size: 14px;
    position: relative;
    border-bottom: 4px solid black;
    margin-left: 35px;
    text-decoration: none;
    transition: 0.3s ease;
    transition: 0.3s all;
}

nav a:hover {      
       border-bottom: 4px solid $pink; 
}

.link {
  padding: 15px;
  z-index: 2;
  transition: 0.3s;
}

.link::before {
  position: absolute;
  content: "";
  left: 0px;
  bottom: 0;
  width: 100%;
  height: 5px;
  background: whi;
  opacity: 0;
  z-index: -1;
  transition: 0.3s;
}

.link:hover:before {
  opacity: 1;
  height: 100%;
}

#burger {
  display: none;
}

@media (max-width: 768px) {
  .link {
      display: none;
  }

  #burger {
    display: block;
    margin-left:  -470px;
    border: none;
  }

  .logo1 {
    width: 490px;
    height: 52px;
    display: flex;
    margin-right: 110px;
    cursor: pointer;
  }
}
