@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
  
body {
    // margin: 0;
    // padding: 0;
    max-width: 1200px;
    line-height: 1.5;
    font-family: 'Montserrat';
}
  
.topnav {
    width: 85%;
    margin: auto;
}
  
header {
    position: fixed;
    width: 100%;
    background: #000;
    transition: 0.7s all;
    z-index: 100;
}

nav ul {
    float: right;
}
  
nav li {
    display: inline;
    float: left;
}
  
nav a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 25px;
    transition: 0.3s all;
}

//   logotipas header
img {
    margin: 10px;
    cursor: pointer;
}

nav a {
    transition: 0.3s ease;
    color: white;
    font-size: 17px;
    border-bottom: 4px solid black;
    padding: 20px 0;
    margin: 0 20px;
    margin-top: 5px;
}
nav a:hover {
    border-bottom: 4px solid #E27866; 
}