body {
    max-width: 1200px;
    line-height: 1.5;
    font-family: $font1;
}
  
.topnav {
    width: 85%;
    margin: auto;
}
  
header {
    position: fixed;
    width: 100%;
    background: black;
    transition: 0.7s all;
    z-index: 100;
}

ul {
    float: right;
}
  
li {
    display: inline;
    float: left;
}

//   logotipas header
.logo1 {
    margin: 10px;
    cursor: pointer;
}

a {
    color: white;
    font-size: 17px;
    border-bottom: 4px solid black;
    padding: 20px 0;
    margin: 0 20px;
    margin-top: 5px;
    display: inline-block;
    text-decoration: none;
    transition: 0.3s ease;
    transition: 0.3s all;
}

a:hover {
    border-bottom: 4px solid $pink; 
}