.container2 {
    display: flex;
    width: 100%;
    max-width: 1400%;
    height: 105px;
    font-size: 14px;
    margin-left: 60px;
    margin-top: 20px;
    flex-wrap: wrap;
    position: relative;

    h2 {
        font-size: 20px;
        margin-left: 60px;
    }

    p {
        margin-left: 60px;
        margin-top: 5px;
    }   
}
    
    .social1 {
      display: flex;
      gap: 100px;
      width: 150px;
      height: 30px;
      cursor: pointer;
      margin-left: 360px;
      margin-top: 25px;

      i {
        color: $pink;
        opacity: 0.65;
      }
    }
  



